/* Record report */

span, th, td, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.row-section {
    margin-bottom: 20px;
}

.border-gray {
    border: 2px solid lightgray;
    padding: 4px 10px;
}

.header-cell {
    padding-bottom: 2px;
}

.label-field-header {
    font-size: 12px;
    display: block;
}

.field-header {
    font-size: 14px;
}

.backgrounds-table, .habits-table, .logs-table,
.backgrounds-table td, .habits-table td, .logs-table td
.backgrounds-table th, .habits-table th, .logs-table th {
    border: 1px solid lightgray;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.backgrounds-table > thead > tr > th,
.habits-table > thead > tr > th,
.logs-table > thead > tr > th {
    font-size: 10px;
    text-align: center;
}

.backgrounds-table > tbody > tr > td,
.habits-table > tbody > tr > td,
.logs-table > tbody > tr > td {
    font-size: 10px;
}
